{% extends 'menu/base.html' %}
{% block title %}Cafeteria | Menu | beverages{% endblock %}
{% block body %}
    <br>
    <br>
    <div class="row">

        {% for beverages in all_beverages %}
           <div class="col-sm-4 col-lg-4">
                <div class="thumbnail">
                   <!--  Album Logo-->
                    <a href="#">
                        <img src="{{ beverages.beverages_image.url }}" class="img-responsive" style="height: 300px; width: fit-content;">
                    </a>

                    <div class="caption">
                        <h2>{{ beverages.beverages }}</h2><h2>{{ beverages.beverages_amt }}</h2>

                         <!--  details-->
                        <a href="#" class="btn btn-primary btn-sm">Add to cart</a>

                    </div>

                </div>
           </div>
       {% endfor %}
</div>
{% endblock %}
