{% extends 'menu/base.html' %}
{% block title %}Cafeteria | Menu | streetfood{% endblock %}
{% block body %}
    <br>
    <br>
    <div class="row">

        {% for streetfood in all_streetfood %}
           <div class="col-sm-4 col-lg-4">
                <div class="thumbnail">
                   <!--  Album Logo-->
                    <a href="#">
                        <img src="{{ streetfood.streetfood_image.url }}" class="img-responsive" style="height: 300px; width: fit-content;">
                    </a>

                    <div class="caption">
                        <h2>{{ streetfood.streetfood }}</h2><h2>{{ streetfood.streetfood_amt }}</h2>

                         <!--  details-->
                        <a href="#" class="btn btn-primary btn-sm">Add to cart</a>

                    </div>

                </div>
           </div>
       {% endfor %}
</div>
{% endblock %}
